<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Bronzebook - Adicionar nova Bronzice</title>
<link rel="stylesheet" href="css/geral.css" type="text/css" media="all" />
</head>

<body>

	<div class="container">
  
  		<div class="header">
  			<h1>Bronzebook</h1>
			
			<!-- Se o usuário estiver logado -->
			<div class="menu">
				<div class="fltlft">
					<input type="button" value="Início" onclick="javascript:location.href='index.html';" /> <input type="button" value="Perfil" onclick="javascript:location.href='perfil.html';" /> <input type="button" value="Amigos" onclick="javascript:location.href='amigos.html';" /> <input type="button" value="Equipe" onclick="javascript:location.href='equipe.html';" /> <input type="button" value="Pesquisar" onclick="javascript:location.href='pesquisar.html';" />
				</div>
				<div class="fltrt">
					Logado(a) como junior007 <input type="button" value="Sair" onclick="javascript:location.href='sair.php';" />
				</div>
			</div>
			<!-- /Se o usuário estiver logado -->
  		</div>
		
  		<div class="content">
			<h1>Equipe OsFodões</h1>
			
			<h3><img src="img/pessoas.jpg" alt=""/> Adicionar nova bronzice</h3>
			
			<form action="addjogadas.php" method="post">
			<p>
				<label>
				Titulo: 
				<input name="titulo" type="text" size="60" />
				</label>
				
				<br />
				
				<label>
				Descrição:&nbsp;&nbsp;&nbsp;(até 200 caracteres)<br />
				<textarea name="descricao" cols="68" rows="5"></textarea>
				</label>
				
				<p>
					<input type="submit" value="Adicionar" />
					&nbsp;&nbsp;
					<input type="button" value="Cancelar" onclick="javascript:location.href='index.html';" />
				</p>
			
			</form>
			
  		</div>
	  
	  	<div class="footer">
			<p>Copyright &copy; 2015 - Bronzebook</p>
	  	</div>
  
  	</div>
</body>
</html>
