<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Bronzebook - Meus amigos</title>
<link rel="stylesheet" href="css/geral.css" type="text/css" media="all" />
</head>

<body>

	<div class="container">
  
  		<div class="header">
  			<h1>Bronzebook</h1>
			
			<!-- Se o usuário estiver logado -->
			<div class="menu">
				<div class="fltlft">
					<input type="button" value="Início" onclick="javascript:location.href='index.html';" /> <input type="button" value="Perfil" onclick="javascript:location.href='perfil.html';" /> <input type="button" value="Amigos" onclick="javascript:location.href='amigos.html';" /> <input type="button" value="Equipe" onclick="javascript:location.href='equipe.html';" /> <input type="button" value="Pesquisar" onclick="javascript:location.href='pesquisar.html';" />
				</div>
				<div class="fltrt">
					Logado(a) como junior007 <input type="button" value="Sair" onclick="javascript:location.href='sair.php';" />
				</div>
			</div>
			<!-- /Se o usuário estiver logado -->
  		</div>
		
  		<div class="content">
  			<form action="amigos.php" method="post">
			<p>
				<img src="img/pessoas.jpg" alt=""/> Meus amigos
			</p>
				
				<p>
					<label><input type="checkbox" name="remover" value="Thiago"> <a href="perfil.php">Thiago</a></label><br />
					<label><input type="checkbox" name="remover" value="Pedro"> <a href="perfil.php">Pedro</a></label><br />
					<label><input type="checkbox" name="remover" value="Lucas"> <a href="perfil.php">Lucas</a></label>
				</p>
				
				<p>
					<input type="button" value="Voltar" onclick="javascript:location.href='index.html';" />
					&nbsp;&nbsp;
					<input type="submit" value="Desfazer amizade" />
				</p>
			</form>
  		</div>
	  
	  	<div class="footer">
			<p>Copyright &copy; 2015 - Bronzebook</p>
	  	</div>
  
  	</div>
</body>
</html>
