<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Bronzebook - Pérolas da semana passada</title>
<link rel="stylesheet" href="css/geral.css" type="text/css" media="all" />
</head>

<body>

	<div class="container">
  
  		<div class="header">
  			<h1>Bronzebook</h1>
			
			<!-- Se o usuário estiver logado -->
			<div class="menu">
				<div class="fltlft">
					<input type="button" value="Início" onclick="javascript:location.href='index.html';" /> <input type="button" value="Perfil" onclick="javascript:location.href='perfil.html';" /> <input type="button" value="Amigos" onclick="javascript:location.href='amigos.html';" /> <input type="button" value="Equipe" onclick="javascript:location.href='equipe.html';" /> <input type="button" value="Pesquisar" onclick="javascript:location.href='pesquisar.html';" />
				</div>
				<div class="fltrt">
					Logado(a) como junior007 <input type="button" value="Sair" onclick="javascript:location.href='sair.php';" />
				</div>
			</div>
			<!-- /Se o usuário estiver logado -->
  		</div>
		
  		<div class="content">
			<h1>Equipe OsFodões</h1>
			
			<div class="fltrt"></div>
			
			<p>
				<img src="img/pessoas.jpg" alt=""/> 
				<strong><big>Pérolas da semana passada</big></strong>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				4 curtiram
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="descurtir.php?id=010"><img src="img/curtir.jpg" alt=""/> Curtir (desfazer)</a>
			</p>
			
			<p>
				<big>Vocês viram que noob? kkkk</big>
				<br />
				<small><a href="perfil.php">Lucas</a> - 05/11/2015 - 11:00h</small>
			</p>
			
			<p>
				<big>Sim!!!</big>
				<br />
				<small><a href="perfil.php">Thiago</a> - 05/11/2015 - 11:00h</small>
			</p>
			
			<form action="respbronzice.php" method="post">
				<p><textarea name="resposta" cols="100" rows="5"></textarea></p>
				<p>
					<input type="submit" value="Responder" />
					&nbsp;&nbsp;
					<input type="button" value="Voltar" onclick="javascript:location.href='verequipe.php?id=001';" />
				</p>
			</form>
			
  		</div>
	  
	  	<div class="footer">
			<p>Copyright &copy; 2015 - Bronzebook</p>
	  	</div>
  
  	</div>
</body>
</html>
