<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Bronzebook - Jogadas - Equipe OsFodões</title>
<link rel="stylesheet" href="css/geral.css" type="text/css" media="all" />
</head>

<body>

	<div class="container">
  
  		<div class="header">
  			<h1>Bronzebook</h1>
			
			<!-- Se o usuário estiver logado -->
			<div class="menu">
				<div class="fltlft">
					<input type="button" value="Início" onclick="javascript:location.href='index.html';" /> <input type="button" value="Perfil" onclick="javascript:location.href='perfil.html';" /> <input type="button" value="Amigos" onclick="javascript:location.href='amigos.html';" /> <input type="button" value="Equipe" onclick="javascript:location.href='equipe.html';" /> <input type="button" value="Pesquisar" onclick="javascript:location.href='pesquisar.html';" />
				</div>
				<div class="fltrt">
					Logado(a) como junior007 <input type="button" value="Sair" onclick="javascript:location.href='sair.php';" />
				</div>
			</div>
			<!-- /Se o usuário estiver logado -->
  		</div>
		
  		<div class="content">
			<h1>Equipe OsFodões</h1>
			
			<div class="fltrt"><input type="button" value="Ver Bronzices" onclick="javascript:location.href='verequipe.php?idequipe=001';" /></div>
			
			<p>
			<img src="img/pessoas.jpg" alt=""/> Jogadas da equipe</p>
			
			<div class="bronzices">
				<span class="bronziceT">Jogadas</span>
				
				<div class="fltrt"><input type="button" value="+ Adicionar nova jogada" onclick="javascript:location.href='addjogadas.php?idequipe=001';" /></div>
				
				<br />
				
				<p>
					<strong>Jogo de segunda-feira <a href="video.php?idjogada=001">(Assistir vídeo)</a></strong>
					<br />
					Em 06/11/2015 às 22:00h - Participantes: <strong><a href="#">junior007</a></strong>, <a href="#">Pedro</a>, <a href="#">Thiago</a>, <a href="#">Lucas</a>
				</p>
				
				<br />
				
				<p>
					<strong>Jogo de segunda-feira <a href="">(Assistir vídeo)</a></strong>
					<br />
					Em 06/11/2015 às 22:00h - Participantes: <strong><a href="#">junior007</a></strong>, <a href="#">Pedro</a>, <a href="#">Thiago</a>, <a href="#">Lucas</a>
				</p>
				
				<br />
				
				<p>
					<strong>Jogo de segunda-feira <a href="">(Assistir vídeo)</a></strong>
					<br />
					Em 06/11/2015 às 22:00h - Participantes: <strong><a href="#">junior007</a></strong>, <a href="#">Pedro</a>, <a href="#">Thiago</a>, <a href="#">Lucas</a>
				</p>
				
			</div>
			
  		</div>
	  
	  	<div class="footer">
			<p>Copyright &copy; 2015 - Bronzebook</p>
	  	</div>
  
  	</div>
</body>
</html>
